BasedOnStyle: Google

ColumnLimit: 180
IndentWidth: 4
NamespaceIndentation: None
AccessModifierOffset: -4

AlignAfterOpenBracket: true
AlignArrayOfStructures: left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignTrailingComments: true

AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: true